body {

}

h1.head {
text-align: center;	
font-size: 100px;
text-decoration: underline;
}



#tundo, #undor, #undobutton {
border: 4px solid black;
border-collapse: collapse;
min-width: 100px;
height: 100px; 
text-align: center;
font-size: 30px;
margin: auto;
}

table, tr, td {
border: 4px solid black;
border-collapse: collapse;
min-width: 100px;
height: 100px;
text-align: center;
font-size: 70px;
margin: auto;
}


.blitz {
border: 7px solid black;
border-collapse: collapse;
min-width: 200px;
height: 200px;
text-align: center;
font-size: 140px;
margin: auto;
}

#gameInput{
text-align: center;
vertical-align: middle;
}

.gameText {
border: 4px solid black;
font-size: 40px;
text-align: center;
width: 100px;
height: 100px;
display: inline-block;
vertical-align: middle;
line-height: 100px;
}


#turnInfo {
text-align: center;
}


.turnText {
border: 3px solid black;
margin: auto;
font-size: 20px;
text-align: center;
width: 120px;
display: inline-block;

}

#spacer_turn {
border: 4px solid white;
width: 2px;
}

#gameInfo {
text-align: center;
vertical-align: middle;
}

.gameText {
border: 4px solid black;
font-size: 40px;
text-align: center;
width: 100px;
height: 100px;
display: inline-block;
vertical-align: middle;
line-height: 100px;
}


#lastMove {
min-height: 100px;
}

#spacer_game {
border: 4px solid white;
width: 10px;
}



#uttt {
width: 20px;
height: 20px;
border: 3px solid black;
}

table#tundo {
margin: 100px, auto;
}





/* Cells */
/*
.cell1 {
background-color: blue;
}

.cell2 {
background-color: red;
}

.cell3 {
background-color: yellow;
}

.cell4 {
background-color: green
}

.cell5 {
background-color: purple;
}

.cell6 {
background-color: orange;
}

.cell7 {
background-color: pink;
}

.cell8 {
background-color: brown;
}

.cell9 {
background-color: teal;
}
*/


#uttt.cell1 .cell1,
#uttt.cell2 .cell2,
#uttt.cell3 .cell3,
#uttt.cell4 .cell4,
#uttt.cell5 .cell5,
#uttt.cell6 .cell6,
#uttt.cell7 .cell7,
#uttt.cell8 .cell8,
#uttt.cell9 .cell9 {
  background-color: #a9a9a9;
}

.XturnClass {
color: red;

}

.OturnClass {
color: blue;
}

/* Cells */

/* Borders */

.ileft {
border-left: 8px solid black;
}

.iright {
border-right: 8px solid black;
}

.itop {
border-top: 8px solid black;
}

.ibottom {
border-bottom: 8px solid black;
}

.oleft {
border-left: 8px solid black;
}

.oright {
border-right: 8px solid black;
}

.otop {
border-top: 8px solid black;
}

.obottom {
border-bottom: 8px solid black;
}

/* /Borders */
/* Blitz Borders */

.Botop {
border-top: 9px solid black;
}

.Boleft {
border-left: 9px solid black;
}

.Boright {
border-right: 9px solid black;
}

.Bobottom {
border-bottom: 9px solid black;
}

/* /Blitz Borders*/
