body {

}

h1.head {
text-align: center;	
font-size: 100px;
text-decoration: underline;
}
#tundo, #undor, #undobutton {
border 4px solid black;
border-collapse: collapse;
min-width: 100px;
height: 100px; 
text-align: center;
font-size: 30px;
margin: auto;
}

table, tr, td {
border: 4px solid black;
border-collapse: collapse;
min-width: 100px;
height: 100px;
text-align: center;
font-size: 70px;
margin: auto;

}
/*
#gameInfo {
display: flex;
text-align: center;
margin: auto;
border: 2px solid blue;
width: 50%;
}
*/
#turn {
border: 3px solid black;
height: 100px;
min-width: 100px;
text-align: center;
font-size: 30px;
}


#turnInfo {
text-align: center;
}

.turntext {
border: 3px solid black;
margin: auto;
font-size: 20px;
text-align: center;
width: 120px;
display: inline-block;

}

#uttt {
width: 20px;
height: 20px;
border: 3px solid black;
}

table#tundo {
margin: 100px, auto;
}

#undobutton {
height: 50px; 
width: 50px;
margin: auto;
}

/* Cells */
/*
.cell1 {
background-color: blue;
}

.cell2 {
background-color: red;
}

.cell3 {
background-color: yellow;
}

.cell4 {
background-color: green
}

.cell5 {
background-color: purple;
}

.cell6 {
background-color: orange;
}

.cell7 {
background-color: pink;
}

.cell8 {
background-color: brown;
}

.cell9 {
background-color: teal;
}
*/


#uttt.cell1 .cell1,
#uttt.cell2 .cell2,
#uttt.cell3 .cell3,
#uttt.cell4 .cell4,
#uttt.cell5 .cell5,
#uttt.cell6 .cell6,
#uttt.cell7 .cell7,
#uttt.cell8 .cell8,
#uttt.cell9 .cell9 {
  background-color: red;
}



/* Cells */

/* Borders */

.ileft {
border-left: 8px solid black;
}

.iright {
border-right: 8px solid black;
}

.itop {
border-top: 8px solid black;
}

.ibottom {
border-bottom: 8px solid black;
}

.oleft {
border-left: 8px solid black;
}

.oright {
border-right: 8px solid black;
}

.otop {
border-top: 8px solid black;
}

.obottom {
border-bottom: 8px solid black;
}

/* Borders */

